@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 237 100% 95%;
  --foreground: 237 5% 10%;
  --card: 237 50% 90%;
  --card-foreground: 237 5% 15%;
  --popover: 237 100% 95%;
  --popover-foreground: 237 100% 10%;
  --primary: 237 65% 55%;
  --primary-foreground: 0 0% 100%;
  --secondary: 237 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 199 30% 85%;
  --muted-foreground: 237 5% 35%;
  --accent: 199 30% 80%;
  --accent-foreground: 237 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 237 5% 90%;
  --border: 237 30% 50%;
  --input: 237 30% 29%;
  --ring: 237 65% 47%;
  --radius: 0.5rem;

  .kotak-kotak {
    background-image: url(../../public/bg.svg);
  }
}
.dark {
  --background: 237 50% 10%;
  --foreground: 237 5% 90%;
  --card: 237 50% 10%;
  --card-foreground: 237 5% 90%;
  --popover: 237 50% 5%;
  --popover-foreground: 237 5% 90%;
  --primary: 237 65% 55%;
  --primary-foreground: 0 0% 100%;
  --secondary: 237 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 199 30% 25%;
  --muted-foreground: 237 5% 60%;
  --accent: 199 30% 25%;
  --accent-foreground: 237 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 237 5% 90%;
  --border: 237 30% 29%;
  --input: 237 30% 29%;
  --ring: 237 65% 47%;
  --radius: 0.5rem;

  .kotak-kotak {
    background-image: url(../../public/bg-dark.svg);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    h1 {
      @apply scroll-m-20 text-3xl lg:text-4xl font-extrabold tracking-tight;
    }
    h2 {
      @apply scroll-m-20 text-xl lg:text-2xl font-extrabold tracking-tight;
    }
    h3 {
      @apply scroll-m-20 text-base lg:text-lg font-semibold tracking-tight;
    }
    article {
      h1 {
        @apply my-1 text-xl lg:text-2xl font-extrabold text-primary;
      }
      h2 {
        @apply my-1 text-xl lg:text-2xl font-bold text-primary;
      }
      h3 {
        @apply my-1 text-xl lg:text-2xl font-medium text-primary;
      }
      h4 {
        @apply my-1 text-sm lg:text-base font-extrabold uppercase text-primary;
      }
      h5 {
        @apply my-1 text-sm lg:text-base font-bold uppercase text-primary;
      }
      h6 {
        @apply my-1 text-sm lg:text-base font-medium uppercase;
      }
      p {
        @apply my-2 text-base lg:text-lg text-pretty;
      }
      ul {
        @apply my-4 ml-4 space-y-3 marker:text-primary list-disc;
      }
      img {
        @apply my-4 mx-auto rounded-xl;
      }
      code {
        @apply rounded-lg mb-4;
      }
      pre::-webkit-scrollbar {
        @apply overflow-x-scroll;
      }
    }
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.nama-siswa {
  text-shadow: 0 0 1em hsl(var(--primary));
}
